.post__img-container {
    overflow: hidden;
    
    @include media-breakpoint-up(md) {
        margin-top: $grid-rung-height-md * 5;
        height: $grid-rung-height-md * 32;
    }
}

.post__img {
    width: 100%;
    height: auto;
}

.post__title {
    @include type-sans-1();
    
    @include media-breakpoint-up(xs) {
        margin: calc-margin-top--type-sans-1("capheight", ($grid-rung-height-xs * 2)) 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-sans-1("capheight", ($grid-rung-height-md * 4)) 0 0 0;
    }
}

.post__aside {
    display: flex;
    flex-direction: row;
    
    @include media-breakpoint-up(xs) {
        margin: 12px 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        flex-direction: column;
        margin: 34px 0 0 0;
    }
}

.post__aside-wrapper ~ .post__aside-wrapper {
    @include media-breakpoint-up(xs) {
        margin: 0 0 0 46px;
    }
    
    @include media-breakpoint-up(md) {
        margin: 32px 0 0 0;
    }
}

.post__aside-label {
    display: block;
    @include type-sans-3();
    color: $text-muted;
}

.post__aside-ul {
    list-style-type: none;
    padding: 0;
}

.post__aside-ul-li {
    @include type-sans-3();
}

.post__body {
    @include media-breakpoint-up(xs) {
        margin: 43px 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-serif-2-md("capheight", ($grid-rung-height-md * 4)) 0 0 0;
    }
    
    > p {
        @include type-serif-2();
    }
    
    > p + p {
        @include media-breakpoint-up(xs) {
            margin: (calc-margin-bottom--type-serif-2("baseline", ($grid-rung-height-xs * 1)) + calc-margin-top--type-serif-2("baseline", ($grid-rung-height-xs * 2))) 0 0 0;
        }
        
        @include media-breakpoint-up(md) {
            margin: (calc-margin-bottom--type-serif-2-md("baseline", ($grid-rung-height-md * 1)) + calc-margin-top--type-serif-2-md("baseline", ($grid-rung-height-md * 2))) 0 0 0;
        }
    }
    
    > img {
        max-width: 100%;
        height: auto;
    }
    
    > p + .post-figure-img {
        @include media-breakpoint-up(xs) {
            margin: calc-margin-bottom--type-serif-2("baseline", ($grid-rung-height-xs * 2)) 0 0 0;
        }
        
        @include media-breakpoint-up(md) {
            margin: calc-margin-bottom--type-serif-2-md("baseline", ($grid-rung-height-md * 4)) 0 0 0;
        }
    }
    
    > .post-figure-img + p {
        @include media-breakpoint-up(xs) {
            margin: (calc-margin-bottom--type-serif-2("baseline", ($grid-rung-height-xs * 1)) + calc-margin-top--type-serif-2("baseline", ($grid-rung-height-xs * 2))) 0 0 0;
        }
        
        @include media-breakpoint-up(md) {
            margin: (calc-margin-bottom--type-serif-2-md("baseline", ($grid-rung-height-md * 2)) + calc-margin-top--type-serif-2-md("baseline", ($grid-rung-height-md * 3))) 0 0 0;
        }
    }
}
