.post {
    @include media-breakpoint-up(md) {
        margin-top: $grid-rung-height-md * 5;
    }
}

.post__feature-img-container {
    position: relative;
    overflow: hidden;
    
    @include media-breakpoint-up(md) {
        height: $grid-rung-height-md * 28;
    }
}

@include media-breakpoint-up(md) {
    .post__feature-img-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        
        opacity: 0;
        transition: opacity 1s;
        
        &.imgloaded {
            opacity: 1;
        }
    }
}

.post__feature-img {
    width: 100%;
    height: auto;
    
    @include media-breakpoint-up(md) {
        // Hide it, JS will set the background-image on .post__feature-img-container
        opacity: 0;
    }
}

.post__title {
    @include type-sans-1();
    
    @include media-breakpoint-up(xs) {
        margin: calc-margin-top--type-sans-1("capheight", ($grid-rung-height-xs * 2)) 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-sans-1("capheight", ($grid-rung-height-md * 4)) 0 0 0;
    }
}

.wf-loading .post__title {
    visibility: hidden;
}

.post__aside {
    display: flex;
    flex-direction: row;
    
    @include media-breakpoint-up(xs) {
        margin: 12px 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        flex-direction: column;
        margin: 34px 0 0 0;
    }
}

.wf-loading .post__aside {
    visibility: hidden;
}

.post__aside-wrapper ~ .post__aside-wrapper {
    @include media-breakpoint-up(xs) {
        margin: 0 0 0 46px;
    }
    
    @include media-breakpoint-up(md) {
        margin: 32px 0 0 0;
    }
}

.post__aside-label {
    display: block;
    @include type-sans-3();
    color: $text-muted;
}

.post__aside-ul {
    list-style-type: none;
    padding: 0;
}

.post__aside-ul-li {
    @include type-sans-3();
}

.post__body {
    @include media-breakpoint-up(xs) {
        margin: 43px 0 0 0;
        padding-bottom: 160px;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-serif-2-md("capheight", ($grid-rung-height-md * 4)) 0 0 0;
        padding-bottom: 0;
    }
}

.post__comments {
    margin-top: 200px;
}
