.home-fluid-hero {
    font-family: $font-family-sans-serif;
    color: $body-color;
    line-height: normal;
    
    @include media-breakpoint-up(xs) {
        font-size: 18px;
        margin: 40px 0 40px -2px;
    }
    
    @include media-breakpoint-up(sm) {
        font-size: 24px;
        margin: 60px 0 60px -3px;
    }
    
    @include media-breakpoint-up(md) {
        margin: 120px 0 60px -3px;
    }
    
    @include media-breakpoint-up(lg) {
        font-size: 2.395vw;
        // use vw for top/bottom margin to ensure the spacing stays the same as
        // the text block decreases in height
        margin: 12vw 0 8vw -3px;
    }
    
    @media (min-width: $grid-max-width) {
        font-size: 45.9px;
    }
}

.home-title {
    font-size: inherit;
    font-weight: 900;
    
    > .home-title__separator {
        color: $text-dim;
    }
}

.home-desc {
    > .home-desc__line {
        @include media-breakpoint-up(lg) {
            display: block;
        }
        
        > strong {
            font-weight: normal;
            color: $text-muted;
        }
    }
    
    > .home-desc__break {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    
    > .home-desc__cta {
        display: inline-block;
        color: $cta-link-color;
        
        &:hover {
            color: $cta-link-hover-color;
        }
    }
}

.wf-loading .home-title, .wf-loading .home-desc {
    visibility: hidden;
}
