.writing {
    @include media-breakpoint-up(md) {
        margin-top: $grid-rung-height-md * 4;
    }
}

.writing__smoke {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.05);
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.writing__smoke--smoked {
    opacity: 1;
}
