.container {
    @include media-breakpoint-up(xs) {
        padding-left: strip-unit($grid-page-gutter-width-xs) * 1%;
        padding-left: $grid-page-gutter-width-xs;
        padding-right: strip-unit($grid-page-gutter-width-xs) * 1%;
        padding-right: $grid-page-gutter-width-xs;
    }
    
    @include media-breakpoint-up(md) {
        padding-left: strip-unit($grid-page-gutter-width-md) * 1%;
        padding-left: $grid-page-gutter-width-md;
        padding-right: strip-unit($grid-page-gutter-width-md) * 1%;
        padding-right: $grid-page-gutter-width-md;
    }
}

.row {
    @include clearfix();
    
    @include media-breakpoint-up(xs) {
        margin-left: strip-unit($grid-column-gutter-width / 2) * -1%;
        margin-left: ($grid-column-gutter-width / 2) * -1;
        margin-right: strip-unit($grid-column-gutter-width / 2) * -1%;
        margin-right: ($grid-column-gutter-width / 2) * -1;
    }
}

@include make-grid-columns(12, $grid-column-gutter-width);


@include make-fullbleeds();


@include media-breakpoint-down(sm) {
    .col-equalspace-sm-down {
        margin-bottom: strip-unit($grid-column-gutter-width) * 1%;
        margin-bottom: $grid-column-gutter-width;
    }
}

@include media-breakpoint-up(md) {
    .col-equalspace-md-up {
        margin-bottom: strip-unit($grid-column-gutter-width) * 1%;
        margin-bottom: $grid-column-gutter-width;
    }
}
