// Font stacks are defined in _custom-bootstrap.scss, here we have our
// our custom type ramp and some other useful values

$font-family-sans-serif: "lato", "Avenir Next Condensed", Roboto, "Droid Sans", Calibri, sans-serif;
$font-family-sans-serif-metric-natural-line-height: (2233 + 599) / 2000; // ascender + descender
$font-family-sans-serif-metric-baseline: 2233 / 2000; // distance in ems from top to baseline
$font-family-sans-serif-metric-capheight: (2233 - 1457) / 2000; // distance in ems from top to cap height, (ascender - capheight)
$font-family-sans-serif-metric-descent: 599 / 2000; // distance in ems from bottom to baseline

$font-family-serif: "adobe-garamond-pro", Garamond, Baskerville, "Times New Roman", Times, serif;
$font-family-serif-metric-natural-line-height: (917 + 354) / 1000; // ascender + descender
$font-family-serif-metric-baseline: 917 / 1000; // distance in ems from top to baseline
$font-family-serif-metric-capheight: (917 - 660) / 1000; // distance in ems from top to cap height (ascender - capheight)
$font-family-serif-metric-descent: 354 / 1000; // distance in ems from bottom to baseline

$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;


$body-color: #000;
$text-muted: rgba(0,0,0,0.6); // minimum for good contrast
$text-dim: rgba(0,0,0,0.2);
$body-bg: #FFF;

$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $text-muted;
$link-hover-decoration: none;

$cta-link-color: #0777d8;
$cta-link-hover-color: #FF4136;

$table-bg: transparent;
$table-cell-padding: 4px;

// Grid breakpoints (copied from Bootstrap v4's _variables.scss)
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    // Extra small screen / phone
    xs: 0,
    // Small screen / phone
    sm: 544px,
    // Medium screen / tablet
    md: 768px,
    // Large screen / desktop
    lg: 992px,
    // Extra large screen / wide desktop
    xl: 1200px,
    // Huge monitors, TV
    xxl: 1600px
);

// Our horizontal grid (ladder rungs) has a gridline every 14px on small screens, 16px on big screens
$grid-rung-height-xs: 14px;
$grid-rung-height-md: 16px;
$grid-column-gutter-width: 4vw;
$grid-page-gutter-width-xs: 4vw;
$grid-page-gutter-width-md: 8vw;
$grid-max-width: 1920px;


$zindex-navbar-fixed: 100;


$motion-snappy: 0.3s cubic-bezier(.25,.8,.25,1);


$drop-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$drop-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$drop-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$drop-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
