// Shared between post-figure--*
.post-figure__caption {
    @include type-sans-3();
    color: $text-muted;
    text-align: center;
    
    @include media-breakpoint-up(xs) {
        margin: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-xs * 2)) 0 0 0;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-md * 2)) 0 0 0;
    }
}
