.footer {
    @include media-breakpoint-up(xs) {
        margin-top: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-xs * 7));
        margin-bottom: calc-margin-bottom--type-sans-3("baseline", ($grid-rung-height-xs * 6));
    }
    
    @include media-breakpoint-up(md) {
        margin-top: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-md * 15));
        margin-bottom: calc-margin-bottom--type-sans-3("baseline", ($grid-rung-height-md * 6));
    }
}

.footer__line {
    display: inline-block;
}

.footer__line-label,
.footer__line-content {
    @include type-sans-3();
}

.wf-loading .footer__line-label,
.wf-loading .footer__line-content {
    visibility: hidden;
}

.footer__line-label {
    color: $text-muted;
    display: block;
}
