.footer {
    @include media-breakpoint-up(xs) {
        margin: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-xs * 7)) 0 calc-margin-bottom--type-sans-3("baseline", ($grid-rung-height-xs * 6)) 0;
    }
    
    @include media-breakpoint-up(md) {
        margin: calc-margin-top--type-sans-3("baseline", ($grid-rung-height-md * 15)) 0 calc-margin-bottom--type-sans-3("baseline", ($grid-rung-height-md * 6)) 0;
    }
}

.footer__line {
    display: inline-block;
}

.footer__line-label,
.footer__line-content {
    @include type-sans-3();
    display: block;
}

.footer__line-label {
    color: $text-muted;
}
