.project-tile {
    display: block;
    position: relative;
    width: 100%;
    
    background-color: rgba(0,0,0,0.24); // helps hide any animation flickers
    
    @include media-breakpoint-up(xs) {
        padding-bottom: 110%;
    }
    
    @include media-breakpoint-up(md) {
        padding-bottom: 60%;
    }
}

.project-tile__picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.project-tile__img {
    width: 100%;
    height: auto;
}

.project-tile__label {
    position: absolute;
    bottom: 0;
    left: 0;
    @include type-sans-2();
    
    @include media-breakpoint-up(xs) {
        padding: 0 0 $grid-page-gutter-width-xs $grid-page-gutter-width-xs;
    }
    
    @include media-breakpoint-up(md) {
        padding: 0 0 16px 16px;
    }
}

.wf-loading .project-tile__label {
    visibility: hidden;
}

.project-tile__label-icon {
    display: inline-block;
    margin: 9px 8px 9px 0;
}

.project-tile__label-wrapper {
    display: inline-block;
}

.project-tile__label1 {
    display: block;
}

.project-tile__label2 {
    display: block;
    opacity: 0.6;
}
