.project-tile {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: rgba(0,0,0,0.24);
    
    $_shadow0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    $_shadow1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    $_shadow2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    $_shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    box-shadow: $_shadow0;
    
    &:hover {
        box-shadow: $_shadow2;
        
        .project-tile__img {
            transform: scale3d(1.012,1.012,1);
        }
    }
    
    &:active {
        box-shadow: 0 0 0 white;
        
        .project-tile__img {
            transform: scale3d(1,1,1);
        }
    }
}

.project-tile__picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.project-tile__img {
    width: 100%;
    height: auto;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-tile__label {
    position: absolute;
    bottom: 0;
    left: 0;
    @include type-sans-2();
    
    @include media-breakpoint-up(xs) {
        padding: 0 0 0 $grid-page-gutter-width-xs;
    }
    
    @include media-breakpoint-up(md) {
        padding: 0 0 0 16px;
    }
}

.project-tile__label1 {
    display: block;
}

.project-tile__label2 {
    display: block;
    opacity: 0.6;
}
