<div class="footer container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="footer__line" style="margin: 0 64px 12px 0;">
                    <span class="footer__line-label">contact</span>
                    <a href="mailto:me@westonthayer.com" class="footer__line-content">me@westonthayer.com</a>
                </div>
                <div class="footer__line" style="margin: 0 0 60px 0;">
                    <span class="footer__line-label">follow</span>
                    <a href="https://twitter.com/WestonThayer5" class="footer__line-content">@WestonThayer5</a>
                </div>
            </div>
            <p>
                <a href="https://github.com/WestonThayer/portfolio2" class="footer__line-content">view the source</a>
            </p>
        </div>
    </div>
</div>

<!-- scripts that shouldn't block -->
<script src="/js/main.js"></script>
