<div class="footer container">
    <div class="row">
        <div class="col-xs-12">
            <p class="footer__line">
                <span class="footer__line-label">contact</span>
                <a href="mailto:me@westonthayer.com" class="footer__line-content">me@westonthayer.com</a>
            </p>
            <p class="footer__line">
                <span class="footer__line-label">follow</span>
                <a href="https://twitter.com/WestonThayer5" class="footer__line-content">@WestonThayer5</a>
            </p>
            <p class="footer__line">
                <a href="#" class="footer__line-content">view the source</a>
            </p>
        </div>
    </div>
</div>

<!-- scripts that shouldn't block -->
<script src="/js/main.js"></script>
