<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    
    <link rel="icon" href="/assets/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/assets/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" type="image/png">
    
    <!-- Typekit Fonts -->
    <script>
      (function(d) {
        var config = {
          kitId: 'bbt3joi',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    
    <!-- <link rel="stylesheet" href="http://basehold.it/14" media="(max-width: 767px)">
    <link rel="stylesheet" href="http://basehold.it/16" media="(min-width: 768px)"> -->
    
    <link rel="stylesheet" href="/css/main.css">
</head>
