<div class="post-side-by-side-img">
    {{> post-figure-img
        id=leftId
        src=leftSrc
        alt=leftAlt
        title=leftTitle
        caption=leftCaption
    }}
    {{> post-figure-img
        id=rightId
        src=rightSrc
        alt=rightAlt
        title=rightTitle
        caption=rightCaption
    }}
</div>
