<div class="post-framer-btn">
    <a class="post-framer-btn__a" href="{{href}}" target="_blank">
        <img class="post-framer-btn__img" srcset="/assets/framer-btn.238w.png 1x, /assets/framer-btn.476w.png 2x, /assets/framer-btn.714w.png 3x" src="/assets/framer-btn.238w.png">
    </a>
</div>
