<a class="tile project-tile" href="/work/zapier-growth/" {{#if isLinkExternal}}target="_blank"{{/if}}>
    <picture class="project-tile__picture" style="background: radial-gradient(circle at center, #FFF 0, #FFF 40%, #f1f4f5 100%);">
        <img class="tile__bg project-tile__img" src="assets/features/zapier-cape-anim/zapier-cape.gif" onload="zImgLoaded(this)" style="width: 119px; position: absolute; left: 50%; top: 50%; margin: -42px 0 0 -59.5px;">
    </picture>
    <div class="project-tile__label" style="color: #000;">
        <div class="project-tile__label-wrapper">
            <span class="project-tile__label1">Growth</span>
            <span class="project-tile__label2">Zapier</span>
        </div>
    </div>
</a>
