<div class="project-tile">
    <div class="project-tile__img"></div>
    <p class="project-tile__label">
        <span class="project-tile__label1">{{line1}}</span>
        <span class="project-tile__label2">{{line2}}</span>
    </p>
</div>
